<div class="jumbotron kx-jumbotron">
    <h1 class="display-4">Heart Beats</h1>
    <hr class="my-4">
    <div class="row" ng-if="ctrl.heartBeats.length < 1">
        <div class="col-lg-12">
            <button class="btn btn-default"
                    data-token="{{ csrf_token() }}"
                    type="submit"
                    role="button"
                    ng-click="ctrl.addHb()">Add Heartbeat
            </button>
        </div>
    </div>
    <div class="row" ng-if="ctrl.heartBeats.length">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">URL</label>
                <input class="form-control" ng-model="ctrl.heartBeats[0].hb_url" disabled="disabled">
            </div>
            <button type="button" ngclipboard class="btn btn-primary"
                    data-clipboard-text="{{ ctrl.heartBeats[0].hb_url }}"
                    ngclipboard-success="ctrl.onCopy(e);">
                Copy
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-lg-12">
            <legend>
                Hits
            </legend>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>User Agent</th>
                        <th>IP Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="ctrl.heartBeats[0].hits.length" ng-repeat="hit in ctrl.heartBeats[0].hits">
                        <td>{{ hit.created_at }}</td>
                        <td>{{ hit.info.userAgent }}</td>
                        <td>{{ hit.info.ip }}</td>
                    </tr>
                    <tr ng-if="!ctrl.heartBeats[0] || ctrl.heartBeats[0].hits.length < 1">
                        <td colspan="3" style="text-align: center"><strong>No Data</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>