$margin-xs:   5px;
$margin-sm:  10px;
$margin-md:  15px;
$margin-lg:  30px;
$margin-xl:  50px;

// these are the scale values for each device size
// adjust to your preference
// ---------------------------------------------------------------
$margin-scale-xs: 0.75;
$margin-scale-sm: 0.75;
$margin-scale-md: 1;
$margin-scale-lg: 1.5;

// Defined breakpoints
// ---------------------------------------------------------------

$screen-xs: 480px;
$screen-xs-min: 480px;

$screen-sm: 768px;
$screen-sm-min: 768px;

$screen-md: 992px;
$screen-md-min: 992px;

$screen-lg: 1200px;
$screen-lg-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Mixin
// ---------------------------------------------------------------
@mixin responsive-margin-padding($scale) {

  $sizes: (
          xs: $margin-xs,
          sm: $margin-sm,
          md: $margin-md,
          lg: $margin-lg,
          xl: $margin-xl
  );

  $props: (
          m: margin,
          p: padding
  );

  $directions: (
          t: top,
          r: right,
          b: bottom,
          l: left
  );

  @each $prop-short, $prop in $props {
    @each $size-short, $size in $sizes {
      @each $direction-short, $direction in $directions {
        .#{$prop-short}#{$direction-short}-#{$size-short} {
          #{$prop}-#{$direction}: round($size * $scale);
        }
      }
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 5px;
  z-index: 1;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 40px;
  font-size: 24px;
  line-height: 60px;
  font-weight: 900;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
  text-shadow: 1px 1px 1px #216a94;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

// ** you shouldnt need to change anything below this point **
// ---------------------------------------------------------------

// these are the device-agnostic resets and centering
.mc   {   margin-left: auto;
  margin-right: auto; }
.mt-0 {    margin-top: 0; }
.mr-0 {  margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 {   margin-left: 0; }
.pt-0 {   padding-top: 0; }
.pr-0 { padding-right: 0; }
.pb-0 {padding-bottom: 0; }
.pl-0 {  padding-left: 0; }

// what follows are all the different device size adjustments
@media (max-width: #{$screen-xs-max}) {
  .mc-sm {
    margin-right: auto;
    margin-left: auto;
  }

  @include responsive-margin-padding($margin-scale-xs);
}

@media (min-width: #{$screen-sm}) and (max-width: #{$screen-sm-max}) {
  .mc-md {
    margin-right: auto;
    margin-left: auto;
  }

  @include responsive-margin-padding($margin-scale-sm);
}

@media (min-width: #{$screen-md}) and (max-width: #{$screen-md-max}) {
  .mc-lg {
    margin-right: auto;
    margin-left: auto;
  }

  @include responsive-margin-padding($margin-scale-md);
}

@media (min-width: #{$screen-lg}) {
  .mc-xl {
    margin-right: auto;
    margin-left: auto;
  }

  @include responsive-margin-padding($margin-scale-lg);
}

/* start 'enter' transition */
.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;

  /* start with opacity 0 (invisible) */
  opacity: 0;
}

/* end 'enter' transition */
.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}

.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left
}
.uib-datepicker .uib-title {
  width: 100%;
}

.uib-day button, .uib-month button, .uib-year button {
  min-width: 100%;
}

.uib-left, .uib-right {
  width: 100%
}

.uib-position-measure {
  display: block !important;
  visibility: hidden !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.uib-position-scrollbar-measure {
  position: absolute !important;
  top: -9999px !important;
  width: 50px !important;
  height: 50px !important;
  overflow: scroll !important;
}

.uib-position-body-scrollbar-measure {
  overflow: scroll !important;
}
.uib-datepicker-popup.dropdown-menu {
  display: block;
  float: none;
  margin: 0;
}

.uib-button-bar {
  padding: 10px 9px 2px;
}

[uib-tooltip-popup].tooltip.top-left > .tooltip-arrow,
[uib-tooltip-popup].tooltip.top-right > .tooltip-arrow,
[uib-tooltip-popup].tooltip.bottom-left > .tooltip-arrow,
[uib-tooltip-popup].tooltip.bottom-right > .tooltip-arrow,
[uib-tooltip-popup].tooltip.left-top > .tooltip-arrow,
[uib-tooltip-popup].tooltip.left-bottom > .tooltip-arrow,
[uib-tooltip-popup].tooltip.right-top > .tooltip-arrow,
[uib-tooltip-popup].tooltip.right-bottom > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.top-left > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.top-right > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.bottom-left > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.bottom-right > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.left-top > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.left-bottom > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.right-top > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.right-bottom > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.top-left > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.top-right > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.bottom-left > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.bottom-right > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.left-top > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.left-bottom > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.right-top > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.right-bottom > .tooltip-arrow,
[uib-popover-popup].popover.top-left > .arrow,
[uib-popover-popup].popover.top-right > .arrow,
[uib-popover-popup].popover.bottom-left > .arrow,
[uib-popover-popup].popover.bottom-right > .arrow,
[uib-popover-popup].popover.left-top > .arrow,
[uib-popover-popup].popover.left-bottom > .arrow,
[uib-popover-popup].popover.right-top > .arrow,
[uib-popover-popup].popover.right-bottom > .arrow,
[uib-popover-html-popup].popover.top-left > .arrow,
[uib-popover-html-popup].popover.top-right > .arrow,
[uib-popover-html-popup].popover.bottom-left > .arrow,
[uib-popover-html-popup].popover.bottom-right > .arrow,
[uib-popover-html-popup].popover.left-top > .arrow,
[uib-popover-html-popup].popover.left-bottom > .arrow,
[uib-popover-html-popup].popover.right-top > .arrow,
[uib-popover-html-popup].popover.right-bottom > .arrow,
[uib-popover-template-popup].popover.top-left > .arrow,
[uib-popover-template-popup].popover.top-right > .arrow,
[uib-popover-template-popup].popover.bottom-left > .arrow,
[uib-popover-template-popup].popover.bottom-right > .arrow,
[uib-popover-template-popup].popover.left-top > .arrow,
[uib-popover-template-popup].popover.left-bottom > .arrow,
[uib-popover-template-popup].popover.right-top > .arrow,
[uib-popover-template-popup].popover.right-bottom > .arrow {
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  margin: 0;
}

[uib-popover-popup].popover,
[uib-popover-html-popup].popover,
[uib-popover-template-popup].popover {
  display: block !important;
}

.uib-time input {
  width: 50px;
}

[uib-typeahead-popup].dropdown-menu {
  display: block;
}

/**

SELF MADE CLASSES

 */

.datepicker-container {
  display: inline-block;
}

.custom-well {
  margin-bottom: 0;
}

.capitalize {
  text-transform: capitalize;
}

.canvas-container {
  position: relative;
}

.reflex-canvas {
  width: 100%;
  height: 400px;
  background-color: #ffe119;
}

.reflex-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

.weather-info-container {
  margin-top: 15px;
}

.modal-body .weather-radio-btn {
  margin-top: 7.5px;
}
