<div class="modal-header">
    <h3 class="modal-title">Giphy</h3>
</div>
<div class="modal-body">
    <legend>Directions</legend>
    <p>Enter word(s) you want to find a random gif for and we will show you the top 5 gifs.</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input class="form-control" ng-model="ctrl.giphySearch">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="ctrl.search()"
                            ng-disabled="!ctrl.giphySearch || ctrl.giphySearch.length < 3">Search</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row giphy-container" ng-if="ctrl.searched">
        <div class="col-lg-12">
            <square-spinner show="ctrl.searching"></square-spinner>
            <div class="well">
                <span ng-repeat="giphy in ctrl.giphyData">
                    <a ng-href="{{ giphy.images.original.url }}">
                        <img ng-src="{{ giphy.images.fixed_height_small.url }}"
                             ng-attr-title="{{ giphy.images.slug }}">
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ctrl.closeModal()">Close</button>
</div>